#header
  padding: 10px
  box-sizing: border-box
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex
  justify-content: space-between
  align-items: center

#logo
  display: flex
  align-items: center

#logoIcon
  color: #385898
  font-size: 40px
  cursor: pointer

#logoSetings
  color: #385898
  font-size: 30px
  color: #385898
  cursor: pointer

#profile
  width: 40px
  height: 40px
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden

#logoAcount
  color: black
  font-size: 50px