#graphic
  padding: 50px

#containerGraphic
  border-left: 2px solid gray
  border-bottom: 1px solid gray
  height: 536px
  overflow-x: scroll
  position: relative
  overflow-y: hidden
  &::-webkit-scrollbar
    display: none

.lineBar
  position: absolute
  border-left: 2px solid #cccccc
  bottom: 20px
  cursor: pointer
  transition: 0.2s
  &:hover
    border-left: 2px solid #00b327
    border-right: 1px solid #00b327
    .blob
      display: block
    .hour
      transform: scale(1.8)
      bottom: 5px
      z-index: 3
      text-align: center
      height: 10px
      width: 40px
      font-weight: 600
      border-radius: 6px
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
      font-size: 6px


.blob
  position: absolute
  width: 200px
  padding: 5px
  border-radius: 6px
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  top: -78px
  display: none
  left: -1px
  box-sizing: border-box

.indicatorArrowb
  width: 0
  height: 0
  border-style: solid
  border-width: 8px 0 8px 8px
  border-color: transparent transparent transparent #ffffff
  position: absolute
  left: 0px
  bottom: -6px

.indicatorArrowa
  width: 0
  height: 0
  border-style: solid
  border-width: 9px 0 9px 9px
  border-color: transparent transparent transparent rgba(0,0,0,0.1)
  position: absolute
  left: -1px
  bottom: -10px

.date,.price,.percent,.size
  margin: 0
  padding: 0
  font-size: 11px

.hour
  width: 30px
  height: 6px
  transform: rotate(70deg)
  position: absolute
  bottom: -20px
  font-size: 4px
  left: -10px
  background-color: white
  padding: 2px
  transition: 0.2s